{
  "printWidth": 100,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "overrides": [
    {
      "files": [
        "src/lib/i18n/phrases.*.ts"
      ],
      "options": {
        "quoteProps": "consistent"
      }
    }
  ]
}
